$primaryColor:#3f51b5;
$primaryDarkColor:#303f9f;
$primaryLightColor:#7986cb;
$primaryTextColor:#FFFFFF;
$accentColor:#03a9f4;
$accentDarkColor:#0288d1;
$accentLightColor:#4fc3f7;
$accentTextColor:#ffffff;

@import '../sass/theme/_theme';