$primaryColor: #1976d2;
$primaryDarkColor: #0D47A1;
$primaryLightColor: #2196F3;
$primaryTextColor: #FFFFFF;
$accentColor: #FFC107;
$accentDarkColor: #FFA000;
$accentLightColor: #FFECB3;
$accentTextColor: #000000;

@import '../sass/theme/_theme';