$primaryColor: #0097a7;
$primaryDarkColor: #006064;
$primaryLightColor: #00bcd4;
$primaryTextColor: #ffffff;
$accentColor: #ffa000;
$accentDarkColor: #ff6f00;
$accentLightColor: #ffc107;
$accentTextColor: #000000;

@import '../sass/theme/_theme';