$primaryColor: #009688;
$primaryDarkColor: #00796b;
$primaryLightColor: #4DB6AC;
$primaryTextColor: #FFFFFF;
$accentColor: #FFC107;
$accentDarkColor: #FFA000;
$accentLightColor: #FFECB3;
$accentTextColor: #000000;

@import '../sass/theme/_theme';